{% extends "layout.html" %}

{% block content %}
<h1>Airdraw Web Interface</h1>
<video id="video" autoplay playsinline></video>
<canvas id="canvas"></canvas>

    <script>
        const video = document.getElementById("video");
        const canvas = document.getElementById("canvas");
        const ctx = canvas.getContext("2d");

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        navigator.mediaDevices.getUserMedia({
            video: true
        })
        .then(stream => {
            video.srcObject = stream;
        })
        .catch(err => {
            console.error(err);
        });
    
    let smoothX = null;
    let smoothY = null;

    async function sendFrame() {

    const tempCanvas = document.createElement("canvas");
    tempCanvas.width = video.videoWidth;
    tempCanvas.height = video.videoHeight;

    const tempCtx = tempCanvas.getContext("2d");

    tempCtx.drawImage(
        video,
        0,
        0,
        tempCanvas.width,
        tempCanvas.height
    );

const image = tempCanvas.toDataURL("image/jpeg");

   

    const response = await fetch("/process", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            image: image
        })
    });

    const data = await response.json();

    ctx.clearRect(0, 0, canvas.width, canvas.height);

if (data.found) {

    const x = data.x * (canvas.width / video.videoWidth);
    const y = data.y * (canvas.height / video.videoHeight);
    if (smoothX === null) {
        smoothX = x;
        smoothY = y;
    } else {
        smoothX = smoothX * 0.8 + x * 0.2;
        smoothY = smoothY * 0.8 + y * 0.2;
    }
    ctx.beginPath();
    ctx.arc(smoothX, smoothY, 10, 0, Math.PI * 2);
    ctx.fill();
    }

    console.log(data);
    }

    setInterval(sendFrame, 100);
    </script>
{% endblock %}